#login-controls {
    background-color: #FFCA6F;
    margin: auto;
    border: 1px solid #ccc;
    padding: 30px;
    width: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
}
.error-text {
    color: #f00;
}